* {
    margin: 0;
    padding: 0;
}
body {
    background: #528;
}
.random-dices__title {
    position: absolute;
    top: 30px;
    font-size: calc(2.5vmin + 2vmax);
    color: #f7f7f7;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.random-dices__container {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    text-align: center;
    margin: 40px auto;
    width: 100%;
    height: auto;
}
.random-dices__dice {
    display: inline-block;
    margin: 10px 50px;
    width: 100%;
    height: 100%;
    max-width: calc(7.5vmin + 12.5vmax);
    max-height: calc(7.5vmin + 12.5vmax);
    border-radius: 12.5px;
    padding-bottom: 5px;
    border-bottom: 0.75vmin solid #f7f7f7;
}
.random-dices__dice--image {
    height: 100%;
    display: inline-block;
}
.random-dices__response {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.random-dices__response--text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center;
    font-size: calc(3.5vmin + 3.75vmax);
}
.random-dices__help {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.random-dices__help--text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center;
    font-size: calc(1.25vmin + 1.25vmax);
}
